if os == 'windows'
    depends('g++.exe') # *.exe is important
else
    depends('g++')
endif

[compiler]:
    compiler = 'g++'

[arguments]:
    release_args = ['-std=c++23', '-O3', '-DNDEBUG', '-s', '-march=native', '-mtune=native','-masm=intel', '-flto=auto']
    debug_args = ['-std=c++23', '-g', '-ggdb3', '-Wall', '-Wextra', '-Wuninitialized', '-Wstrict-aliasing', '-Wshadow', '-pedantic']

import "./runcpp/compile.rc"

# here we are using `all`, which means every command is executed like a separate process
[all]:
    release()
    debug()
    if os == 'linux'
        install()
    endif